Source: arptools
Maintainer: Stuart B. Wilkins <swilkins@bnl.gov>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: cmake (>= 3.15), debhelper (>= 11)

Package: arptools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: arptools
 Library to perform monitoring of IPV4 networks
